<html>
<head>
   <title> Solicitação de Oradores </title>
 <meta name="description" content="Convite de Oradores">
</head>

<body> 

<H2>Agendamento de Discurso - Cong. Frimisa </H2>

<ul>
  <li><strong>Nome</strong> {{ nome }}<br /></li>
  <li><strong>Congregação:</strong> {{ congregacao }}<br /></li>
  <li><strong>Tema:</strong> {{ tema }}<br /></li>
  <li><strong>Dia:</strong> {{ dia }}<br /></li>
  <li><strong>Data:</strong> {{ data }}<br /></li>
  <li><strong>Horário:</strong> {{ horario }}<br /></li>
  <li><strong>Ajuda Financeira:</strong> {{ custo }}<br /></li>
</ul>

<h3>Segue a foto do nosso salão do reino</h3>
<img src="http://oi65.tinypic.com/10wvhav.jpg" alt="salao1"> 

<br />

<h3>A localizacao no google maps!</h3> <br />
<img src="http://oi66.tinypic.com/29y32a.jpg" alt="salao2"> <br />

https://www.google.com.br/maps/place/R.+Dr.+Elizeu+Jardim+-+Frimisa,+S%C3%A3o+Benedito+-+MG,+33045-100/@-19.7627231,-43.8815557,17.5z/data=!4m5!3m4!1s0xa686b90e3d876b:0x10045b04905dbb64!8m2!3d-19.7626781!4d-43.8801002

</body>

</html>
