{% extends 'base.html' %}

{% block content %}

<!-- Panels -->
<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">Seja Bem Vindo!</div>
		<div class="panel-body">
			<table class="table table-bordered">
				<h2>Olá {{ user }},</h2>
				<p>Esse é um sistema que foi criado para agilizar o trabalho dos responsáveis pelo quadro de anúncios da congregação.</p>
				<p>É um trabalho totalmente voluntário e sem fins lucrativos. Não se trata de uma ferramenta oficial da Torre de Vigia ou do site JW.ORG</p>
				<p>Em caso de dúvidas mande um e-mail para <a href=""></a></p>
			</table>
		</div>
	</div>
</div>
<!-- End Panels -->

{% endblock content %}